### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.mp3
/.idea/
/output/
/*.iml
/target/
/__pycache__/
!.mvn/wrapper/maven-wrapper.jar

src/main/resources/tessdata/*
!src/main/resources/tessdata/eng.*
!src/main/resources/tessdata/hun.*


# Exlude Zipkin
zipkin.jar
zipkin.jar.asc
zipkin.jar.md5
